<div class="card" style="width: 36rem; margin: 1rem">
   <div class="card-body">
     <h5 class="card-title">hydrant.name</h5>
     <p class="card-text">Type: hydrant.type</p>
     <p class="card-text">Owner: hydrant.owner</p>
     <p class="card-text">Ownership Points: hydrant.ownership_points</p>
     <a href="#" class="btn btn-primary">Visit Hydrant</a>
   </div>
 </div>
